<div>
  <label>{{ label }}</label>
  <input
    *ngIf="type !== 'select'"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    [ngClass]="{ 'border-red-500': control.touched && control.invalid }"
  />
  <div *ngIf="tooltip" class="text-gray-500 text-sm mt-0.5">
    <small>{{ tooltip }}</small>
  </div>
  <select
    *ngIf="type === 'select'"
    [formControl]="control"
    (change)="onSelectChange($event)"
    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    [ngClass]="{ 'border-red-500': control.touched && control.invalid }"
  >
    <option [value]="" disabled selected hidden>{{ placeholder }}</option>
    <option *ngFor="let item of items" [value]="item.name">
      {{ item.name }}
    </option>
  </select>
  <div
    *ngIf="control.touched && control.invalid"
    class="text-red-500 text-sm mt-0.5"
  >
    <div *ngIf="control.hasError('required')">This field is required.</div>
    <div *ngIf="control.hasError('email')">Please enter a valid email.</div>
    <div *ngIf="control.hasError('invalidPhoneNumber')">
      Please enter a valid phone number.
    </div>
    <div *ngIf="control.hasError('min')">The value is too small.</div>
  </div>
</div>
