<div>
  <label>{{ label }}</label>
  <input
    *ngIf="type !== 'select'"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
  />
  <select
    *ngIf="type === 'select'"
    [formControl]="control"
    (change)="onSelectChange($event)"
    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
  >
    <option [value]="" disabled selected hidden>{{ placeholder }}</option>
    <ng-container *ngIf="!isLoading">
      <option *ngFor="let item of items" [value]="item.name">
        {{ item.name }}
      </option>
    </ng-container>
    <option *ngIf="isLoading" disabled>Loading...</option>
  </select>
</div>
